<%= form_for @deck, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 input-form">
        <div class="control-group">
          <%= f.label :name, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :name, :class => 'text_field', :style => "width:90%" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :hero, :class => 'control-label' %>
          <div class="controls">
            <%= f.select :hero, heroes_capped, :style => "width:90%", :class => "dropdown"%>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :link, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :link, :class => 'text_field', :style => "width:90%" %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :description, :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :description, :class => 'text_field', :rows => "20", :style => "width:90%" %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <table class="table counters">
          <tr>
            <th>Name</th>
            <th>Strong Against</th>
            <th>Weak Against</th>
          </tr>
          <%= hidden_field_tag "deck[strong_against_ids][]", nil %>
          <%= hidden_field_tag "deck[weak_against_ids][]", nil %>
          <% Deck.where.not(id: @deck).each do |deck| %>
            <tr>
              <td><%= deck.name %><td>
              <td><%= check_box_tag "deck[strong_against_ids][]", deck.id, @deck.strong_against.include?(deck) %></td>
              <td><%= check_box_tag "deck[weak_against_ids][]", deck.id, @deck.weak_against.include?(deck) %></td>
            <tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                decks_path, :class => 'btn' %>
  </div>
<% end %>
