<%- model_class = Deck -%>
<div class="container">
  <div class="row">
    <div id="content">
    <div class="page-header">
      <h1><%=t '.title', :default => @deck.name.titleize + " " + model_class.model_name.human.titleize %></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="dl-horizontal">
            <h4><strong>Tips:</strong></h4>
            <div><%= raw @deck.description.gsub! /\n/, '<br />' %></div>
          </div>
        </div>
        <div class="col-md-6" id="moveimg">
          <h4><br><%= @deck.name %></h4>
          <% unless @deck.link.empty? %>
            <img src="<%= @deck.link %>"></img>
          <% end %>
        </div>
      </div>
    </div>
    <div class="decks-counter">
      <div class="col-md-3">
        <table class="table table-hover">
          <tr>
            <th>Strong Against</th>
          </tr>
          <% @deck.strong_against.each do |counter| %>
            <tr>
              <td><%= link_to counter.name, "javascript:;", :class => "counter", :data => counter.id %></td>
            <tr>
          <% end %>
        </table>
      </div>
      <div class="col-md-3">
        <table class="table table-hover">
          <tr>
            <th>Weak Against</th>
          </tr>
          <% @deck.weak_against.each do |countee| %>
            <tr>
              <td><%= link_to countee.name, "javascript:;", :class => "counter", :data => countee.id %></td>
            <tr>
          <% end %>
        </table>
      </div>
    </div>
    <% @deck.strong_against.each do |counter| %>
      <% matchup = Matchup.where("strong_id" => @deck.id).where("weak_id" => counter.id).first %>
      <div id="<%= counter.id %>" style="display:none;">
        <div class="col-md-3">
          <div>
            <h4>Strong Against: <br><%= link_to counter.name, deck_path(counter) %></h4> 
          </div>
          <img src="<%= counter.link %>" class="img-responsive"></img>
        </div>
        <div class="col-md-3">
          <div class="voting">
            <span style="float:left;">
              <a href="javascript:;">
                <div class="upvote" style="background-color:#468847;" strong="<%= @deck.id %>" weak="<%= counter.id %>">
                  <img src="/assets/upvote.png">
                  <span><%= matchup.thumbs_up %></span>
                </div>
              </a>
            </span>
            <span style="float:left;">
              <a href="javascript:;">
                <div class="downvote" style="background-color:#B94A48" strong="<%= @deck.id %>" weak="<%= counter.id %>">
                  <img src="/assets/downvote.png">
                  <span><%= matchup.thumbs_down %></span>
                </div>
              </a>
            </span>
          </div><br><br>
          <p><%= raw counter.description.gsub! /\n/, '<br />' %></p>
          <br>
          <button class="btn goback" data="<%= counter.id %>">Go Back</button>
        </div>
      </div>
    <% end %>
    <% @deck.weak_against.each do |countee| %>
      <% matchup = Matchup.where("strong_id" => countee.id).where("weak_id" => @deck.id).first %>
      <div id="<%= countee.id %>" style="display:none;">
        <% unless countee.link.empty? %>
        <div class="col-md-3">
          <div>
            <h4>Weak To: <br><%= link_to countee.name, deck_path(countee) %></h4>
          </div>
          <img src="<%= countee.link %>" class="img-responsive"></img>
        </div>
        <% end %>
        <div class="<% if countee.link.empty? %> col-md-6 <% else %> col-md-3 <% end %>">
          <div class="voting" >
            <span style="float:left;">
              <a href="javascript:;">
                <div class="upvote" style="background-color:#468847;" strong="<%= countee.id %>" weak="<%= @deck.id %>">
                  <img src="/assets/upvote.png">
                  <span><%= matchup.thumbs_up %></span>
                </div>
              </a>
            </span>
            <span style="float:left;">
              <a href="javascript:;">
                <div class="downvote" style="background-color:#B94A48" strong="<%= countee.id %>" weak="<%= @deck.id %>">
                  <img src="/assets/downvote.png">
                  <span><%= matchup.thumbs_down %></span>
                </div>
              </a>
            </span>
          </div><br><br>
          <p><%= raw countee.description.gsub! /\n/, '<br />' %></p><br>
          <button class="btn goback" data="<%= countee.id %>">Go Back</button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              decks_path, :class => 'btn'  %>
  <% if session["authenticated"] %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_deck_path(@deck), :class => 'btn' %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                deck_path(@deck),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
  <% end %>
</div> 
</div>

<script type="text/javascript">
  <%= render :partial => "decks/show.js" %>
</script>
